<div>
	<h1>Rechercher un livre à ajouter à la bibliothèque :</h1>
	<form name="form_recherche">
		<div class="form-group">
			<label for="isbn">ISBN :</label> 
			<input type="text" class="form-control" id="isbn" name="isbn" placeholder="ISBN" aria-describedby="recherche-isbn-help"
			     ng-model="recherche.isbn" ng-pattern="isbn_pattern" ng-required="!(recherche.isbn.length || recherche.libre.length || recherche.auteur.length || recherche.titre.length)" />
			<span id="recherche-isbn-help" class="help-block">Taper l'ISBN sous la forme d'une série de 10 ou 13 chiffres. Le référentiel Google Books pour les ISBN français
			 étant (très) léger, une recherche libre sera plus efficace en cas de livre non anglophone.</span>
		</div>
		<div class="form-group">
			<label for="recherche-libre">Recherche libre :</label> 
			<input
				type="text" class="form-control" id="recherche-libre"
				placeholder="À la croisée des mondes, Harry Potter..." 
				aria-describedby="recherche-libre-help"
				ng-model="recherche.libre" ng-required="!(recherche.isbn.length || recherche.libre.length || recherche.auteur.length || recherche.titre.length)" />
		    <span id="recherche-libre-help" class="help-block">Rechercher dans le moteur de recherche Google Books.</span>
		</div>
		<div class="form-group">
            <label for="recherche-auteur">Auteur :</label> 
            <input
                type="text" class="form-control" id="recherche-auteur"
                placeholder="Maxime Chattam, Stephen King..." 
                aria-describedby="recherche-auteur-help"
                ng-model="recherche.auteur" ng-required="!(recherche.isbn.length || recherche.libre.length || recherche.auteur.length || recherche.titre.length)" />
            <span id="recherche-auteur-help" class="help-block">Rechercher un auteur en particulier.</span>
        </div>
        <div class="form-group">
            <label for="recherche-auteur">Titre :</label> 
            <input
                type="text" class="form-control" id="recherche-auteur"
                placeholder="Neverland, La boussole d'or..." 
                aria-describedby="recherche-titre-help"
                ng-model="recherche.titre" ng-required="!(recherche.isbn.length || recherche.libre.length || recherche.auteur.length || recherche.titre.length)" />
            <span id="recherche-titre-help" class="help-block">Rechercher un titre en particulier.</span>
        </div>
		<button type="submit" class="btn btn-primary" ng-disabled="form_recherche.$invalid" ng-click="rechercher()">Lancer la recherche</button>
		&nbsp;<img alt="loader" id="ajax-loader" src="imgs/ajax-loader.gif" style="display:none;">
	</form>
	<br /><br />
	<h2>Résultat de la recherche :</h2>
	<div class="alert alert-danger" role="alert" ng-show="recherche_error">
        <strong>Attention !</strong> Erreur lors de la recherche : merci de réessayer.
    </div>
    <div class="alert alert-warning" role="alert" ng-show="recherche_result != null && recherche_result.totalItems == 0">
        <strong>Attention !</strong> Aucune résultat, merci d'élargir les critères de recherche.
    </div>
     <div class="alert alert-info" role="alert" ng-show="recherche_result != null && recherche_result.totalItems > 0">
        <strong>Attention !</strong> Affichage des 10 premiers résultats uniquement.<br/>
        Pas de chance ? <a href="#/livres/add/">Ajouter le livre manuellement.</a>
    </div>
	<p ng-show="recherche_result == null">Pour effectuer une recherche, taper un ISBN ou un titre/auteur/saga et cliquer sur "Lancer la recherche".</p>

    <div class="container" ng-show="recherche_result.items.length > 0">
		<div ng-repeat="item in recherche_result.items">
			<div ng-class="{true : 'row'}[$index % 2 == 1]">
				<div class="col-lg-6">
					<div class="panel panel-default" style="height: 375px">
						<div class="panel-body">
							<div class="row">
							   <div class="col-lg-5">
							     <div class="thumbnail-result">
								     <img ng-src="{{item.volumeInfo.imageLinks.thumbnail}}" style="height: 185px; width: 130px" />
								     <p><strong>ISBN :</strong> <span ng-repeat="isbn in item.volumeInfo.industryIdentifiers">{{isbn.identifier}}, </span> </p>
								     <p><strong>Auteur(s) :</strong> <span ng-repeat="author in item.volumeInfo.authors">{{author}}, </span>  </p>
								     <p><strong>Nombre de pages :</strong> <span>{{item.volumeInfo.pageCount}}</span> </p>
								     <p><strong>Editeur :</strong> <span>{{item.volumeInfo.publisher}}</span> </p>
								     <a ng-href="#/livres/add/{{item.id}}" class="btn btn-primary">Ajouter</a>
								  </div>
							   </div>
							   <div class="col-lg-7">
							    <h4>{{item.volumeInfo.title}}</h4>
							    <h5>{{item.volumeInfo.subtitle}}</h5>
							    <br/>
							    <p class="description">{{item.volumeInfo.description | limitTo:850}}<span ng-show="item.volumeInfo.description.length > 850">[...]</span></p>
							   </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>